In [57]:
#librerias a usar
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [58]:
#cargar archivo csv
data = pd.read_csv('Tasmania.csv')

**Primero Eliminaremos las columnas que no usaremos y dejaremos las 50 que seleccionamos por equipo**

In [59]:
#Eliminar columnas innecesarias con drop
#axis1 es para columnas y axis0 es para filas
data1 = data.drop(['scrape_id','source','name','neighborhood_overview','picture_url','host_location', 'host_about',
                   'host_thumbnail_url', 'host_picture_url','host_has_profile_pic' ,'neighbourhood_group_cleansed',
                   'latitude','longitude','bathrooms_text','minimum_minimum_nights','maximum_minimum_nights',
                   'minimum_maximum_nights','maximum_maximum_nights','minimum_nights_avg_ntm','maximum_nights_avg_ntm',
                   'calendar_updated', 'host_name','host_neighbourhood', 'review_scores_rating','review_scores_value', 
                   ], 
                   axis=1)

In [60]:
#verificamos si contamos con las 50 columnas necesarias
num_columnas = len(data1.columns)
print(f"El número total de columnas es: {num_columnas}")

El número total de columnas es: 50

**Verificaremos unicamente las columnas con valores nulos**

In [61]:
# Identificar valores nulos por columna
valores_nulos = data1.isnull().sum()

# Filtrar columnas con valores nulos
columnas_con_nulos = valores_nulos[valores_nulos > 0]
print(columnas_con_nulos)

description                     168
host_response_time              970
host_response_rate              970
host_acceptance_rate            559
host_is_superhost               143
neighbourhood                  2098
bathrooms                       718
bedrooms                        122
beds                            727
price                           717
has_availability                 44
first_review                    365
last_review                     365
review_scores_accuracy          365
review_scores_cleanliness       365
review_scores_checkin           365
review_scores_communication     365
review_scores_location          365
license                         303
reviews_per_month               365
dtype: int64

**Primero sustituiremos las descripciones vacias por el texto "este airbnb no cuenta con una descripcion detallada"**<br>
Para esto usaremos la variable description y usando el método fillna insertaremos nuestro string en <br>
valores nulos

In [62]:
#Sustituir valores nulos por un string en concreto
data1['description'] = data1['description'].fillna('Este airbnb no cuenta con una descripcion detallada')
# Identificar valores nulos por columna
valores_nulos = data1.isnull().sum()
columnas_con_nulos = valores_nulos[valores_nulos > 0]
print(columnas_con_nulos)

host_response_time              970
host_response_rate              970
host_acceptance_rate            559
host_is_superhost               143
neighbourhood                  2098
bathrooms                       718
bedrooms                        122
beds                            727
price                           717
has_availability                 44
first_review                    365
last_review                     365
review_scores_accuracy          365
review_scores_cleanliness       365
review_scores_checkin           365
review_scores_communication     365
review_scores_location          365
license                         303
reviews_per_month               365
dtype: int64

**Ahora sustituiremos host_response_time nulos por el texto "N/A"**<br>
Para esto usaremos la variable host_response_time y usando el método fillna insertaremos nuestro string en los <br>
valores nulos

In [63]:
data1['host_response_time'] = data1['host_response_time'].fillna('No hay tiempo de respuesta')
# Identificar valores nulos por columna
valores_nulos = data1.isnull().sum()
columnas_con_nulos = valores_nulos[valores_nulos > 0]
print(columnas_con_nulos)

host_response_rate              970
host_acceptance_rate            559
host_is_superhost               143
neighbourhood                  2098
bathrooms                       718
bedrooms                        122
beds                            727
price                           717
has_availability                 44
first_review                    365
last_review                     365
review_scores_accuracy          365
review_scores_cleanliness       365
review_scores_checkin           365
review_scores_communication     365
review_scores_location          365
license                         303
reviews_per_month               365
dtype: int64

**Ahora sustituiremos los valores de host_response_rate nulos por el texto "No hay porcentaje de respuesta"**<br>
Para esto usaremos la variable host_response_rate y usando el método fillna insertaremos nuestro string en los <br>
valores nulos

In [64]:
data1['host_response_rate'] = data1['host_response_rate'].fillna('No hay porcentaje de respuesta')
# Identificar valores nulos por columna
valores_nulos = data1.isnull().sum()
columnas_con_nulos = valores_nulos[valores_nulos > 0]
print(columnas_con_nulos)

host_acceptance_rate            559
host_is_superhost               143
neighbourhood                  2098
bathrooms                       718
bedrooms                        122
beds                            727
price                           717
has_availability                 44
first_review                    365
last_review                     365
review_scores_accuracy          365
review_scores_cleanliness       365
review_scores_checkin           365
review_scores_communication     365
review_scores_location          365
license                         303
reviews_per_month               365
dtype: int64

**Ahora sustituiremos los valores de host_acceptance_rate nulos por el texto "No hay porcentaje de aceptacion"**<br>
Para esto usaremos la variable host_acceptance_rate y usando el método fillna insertaremos nuestro string en los <br>
valores nulos

In [65]:
data1['host_acceptance_rate'] = data1['host_acceptance_rate'].fillna('No hay porcentaje de aceptacion')	
# Identificar valores nulos por columna
valores_nulos = data1.isnull().sum()
columnas_con_nulos = valores_nulos[valores_nulos > 0]
print(columnas_con_nulos)

host_is_superhost               143
neighbourhood                  2098
bathrooms                       718
bedrooms                        122
beds                            727
price                           717
has_availability                 44
first_review                    365
last_review                     365
review_scores_accuracy          365
review_scores_cleanliness       365
review_scores_checkin           365
review_scores_communication     365
review_scores_location          365
license                         303
reviews_per_month               365
dtype: int64

**Ahora sustituiremos los valores de host_is_superhost nulos**<br>
Para esto usaremos la variable host_is_superhost. En este caso daré por hecho que al no tener un valor asignado no <br>
se considera super host, asi que por defecto asignaré f de false a los valores nulos

In [66]:
data1['host_is_superhost'] = data1['host_is_superhost'].fillna('f')	
# Identificar valores nulos por columna
valores_nulos = data1.isnull().sum()
columnas_con_nulos = valores_nulos[valores_nulos > 0]
print(columnas_con_nulos)

neighbourhood                  2098
bathrooms                       718
bedrooms                        122
beds                            727
price                           717
has_availability                 44
first_review                    365
last_review                     365
review_scores_accuracy          365
review_scores_cleanliness       365
review_scores_checkin           365
review_scores_communication     365
review_scores_location          365
license                         303
reviews_per_month               365
dtype: int64

**Ahora sustituiremos los valores de neighbourhood nulos**<br>
Para esto usaremos la variable neighbourhood. La variable neighbourhood en la bd se usa para asignar si un vecindario es <br>
destacado, cuando un vecindario es destacado se usa "Neighborhood highlights" y noté que los vecindarios no destacados <br>
tienen valores nulos, asi que por ende, a estos valores nulos les asignaré "neighborhood not highlighted".

In [67]:
data1['neighbourhood'] = data1['neighbourhood'].fillna('neighborhood not highlighted')	
# Identificar valores nulos por columna
valores_nulos = data1.isnull().sum()
columnas_con_nulos = valores_nulos[valores_nulos > 0]
print(columnas_con_nulos)

bathrooms                      718
bedrooms                       122
beds                           727
price                          717
has_availability                44
first_review                   365
last_review                    365
review_scores_accuracy         365
review_scores_cleanliness      365
review_scores_checkin          365
review_scores_communication    365
review_scores_location         365
license                        303
reviews_per_month              365
dtype: int64

**Ahora sustituiremos los valores de bathrooms nulos**<br>
Para esto usaremos la variable bathrooms. En este caso decidi llenar los campos nulos con 1, ya que un airbnb al menos debe contar con un baño.

In [68]:
# Sustituir valores nulos en la columna 'bathrooms' con 1
data1['bathrooms'] = data1['bathrooms'].fillna(1)
# Identificar valores nulos por columna
valores_nulos = data1.isnull().sum()
columnas_con_nulos = valores_nulos[valores_nulos > 0]
print(columnas_con_nulos)

bedrooms                       122
beds                           727
price                          717
has_availability                44
first_review                   365
last_review                    365
review_scores_accuracy         365
review_scores_cleanliness      365
review_scores_checkin          365
review_scores_communication    365
review_scores_location         365
license                        303
reviews_per_month              365
dtype: int64

**Ahora sustituiremos los valores de bedrooms nulos**<br>
Para esto usaremos la variable bedrooms. En este caso decidi llenar los campos nulos con 1, ya que un airbnb debe contar<br>
con al menos un cuarto propio.

In [69]:
# Sustituir valores nulos en la columna 'bedrooms' con 1
data1['bedrooms'] = data1['bedrooms'].fillna(1)
# Identificar valores nulos por columna
valores_nulos = data1.isnull().sum()
columnas_con_nulos = valores_nulos[valores_nulos > 0]
print(columnas_con_nulos)

beds                           727
price                          717
has_availability                44
first_review                   365
last_review                    365
review_scores_accuracy         365
review_scores_cleanliness      365
review_scores_checkin          365
review_scores_communication    365
review_scores_location         365
license                        303
reviews_per_month              365
dtype: int64

**Ahora sustituiremos los valores de beds nulos**<br>
Para esto usaremos la variable beds. En este caso decidi usar la mediana.

In [70]:
data1['beds'] = data1['beds'].fillna(round(data['beds'].median(),1))
# Identificar valores nulos por columna
valores_nulos = data1.isnull().sum()
columnas_con_nulos = valores_nulos[valores_nulos > 0]
print(columnas_con_nulos)

price                          717
has_availability                44
first_review                   365
last_review                    365
review_scores_accuracy         365
review_scores_cleanliness      365
review_scores_checkin          365
review_scores_communication    365
review_scores_location         365
license                        303
reviews_per_month              365
dtype: int64

**Ahora sustituiremos los valores de price nulos**<br>
Para esto usaremos la variable price. En este caso decidi usar la mediana. Aqui se complico un poco ya que el precio se maneja<br>
como string ya que se usa el simbolo $, pero aun asi se logro obtener la mediana e insertarla en <br>
los campos nulos

In [71]:
# Calcular la mediana de "price" sin el símbolo $
mediana_precio = round(
    data1['price'].str.replace('[\$,]', '', regex=True).astype(float).median(), 1
)

# Rellenar valores nulos con la mediana, manteniendo el símbolo $
data1['price'] = data1['price'].fillna(f'${mediana_precio}')

# Identificar valores nulos por columna
valores_nulos = data1.isnull().sum()
columnas_con_nulos = valores_nulos[valores_nulos > 0]
print(columnas_con_nulos)

has_availability                44
first_review                   365
last_review                    365
review_scores_accuracy         365
review_scores_cleanliness      365
review_scores_checkin          365
review_scores_communication    365
review_scores_location         365
license                        303
reviews_per_month              365
dtype: int64

<>:3: SyntaxWarning: invalid escape sequence '\$'
<>:3: SyntaxWarning: invalid escape sequence '\$'
C:\Users\cesar\AppData\Local\Temp\ipykernel_8384\1421555544.py:3: SyntaxWarning: invalid escape sequence '\$'
  data1['price'].str.replace('[\$,]', '', regex=True).astype(float).median(), 1

**Ahora sustituiremos los valores de has_availability nulos**<br>
Para esto usaremos la variable has_availability. esta columna usa t o f, de true o false. decidi <br>
reemplazar los nulos con f

In [72]:
# Sustituir valores nulos en la columna 'bathrooms' con 1
data1['has_availability'] = data1['has_availability'].fillna('f')
# Identificar valores nulos por columna
valores_nulos = data1.isnull().sum()
columnas_con_nulos = valores_nulos[valores_nulos > 0]
print(columnas_con_nulos)

first_review                   365
last_review                    365
review_scores_accuracy         365
review_scores_cleanliness      365
review_scores_checkin          365
review_scores_communication    365
review_scores_location         365
license                        303
reviews_per_month              365
dtype: int64

**Ahora sustituiremos los valores de first_review nulos**<br>
Para esto usaremos la variable first_review. Decidi usar una funcion no vista, que es sacar la moda para reemplzar los nulos. Decidi<br>
usar la moda ya que first_review es de tipo date.

In [73]:
data1['first_review'] = data1['first_review'].fillna(data1['first_review'].mode()[0])
# Identificar valores nulos por columna
valores_nulos = data1.isnull().sum()
columnas_con_nulos = valores_nulos[valores_nulos > 0]
print(columnas_con_nulos)

last_review                    365
review_scores_accuracy         365
review_scores_cleanliness      365
review_scores_checkin          365
review_scores_communication    365
review_scores_location         365
license                        303
reviews_per_month              365
dtype: int64

**Ahora sustituiremos los valores de last_review nulos**<br>
Para esto usaremos la variable last_review. Decidi usar una funcion no vista, que es sacar la moda para reemplzar los nulos. Decidi<br>
usar la moda ya que last_review es de tipo date.

In [74]:
data1['last_review'] = data1['last_review'].fillna(data1['last_review'].mode()[0])
# Identificar valores nulos por columna
valores_nulos = data1.isnull().sum()
columnas_con_nulos = valores_nulos[valores_nulos > 0]
print(columnas_con_nulos)

review_scores_accuracy         365
review_scores_cleanliness      365
review_scores_checkin          365
review_scores_communication    365
review_scores_location         365
license                        303
reviews_per_month              365
dtype: int64

**Ahora sustituiremos los valores de review_scores_accuracy nulos**<br>
Para esto usaremos la variable review_scores_accuracy. Decidi reemplazar con la mediana.

In [75]:
data1['review_scores_accuracy'] = data1['review_scores_accuracy'].fillna(round(data['review_scores_accuracy'].median(),1))
# Identificar valores nulos por columna
valores_nulos = data1.isnull().sum()
columnas_con_nulos = valores_nulos[valores_nulos > 0]
print(columnas_con_nulos)

review_scores_cleanliness      365
review_scores_checkin          365
review_scores_communication    365
review_scores_location         365
license                        303
reviews_per_month              365
dtype: int64

**Ahora sustituiremos los valores de review_scores_cleanliness nulos**<br>
Para esto usaremos la variable review_scores_cleanliness. Decidi reemplazar con la mediana.

In [76]:
data1['review_scores_cleanliness'] = data1['review_scores_cleanliness'].fillna(round(data['review_scores_cleanliness'].median(),1))
# Identificar valores nulos por columna
valores_nulos = data1.isnull().sum()
columnas_con_nulos = valores_nulos[valores_nulos > 0]
print(columnas_con_nulos)

review_scores_checkin          365
review_scores_communication    365
review_scores_location         365
license                        303
reviews_per_month              365
dtype: int64

**Ahora sustituiremos los valores de review_scores_checkin nulos**<br>
Para esto usaremos la variable review_scores_checkin. Decidi reemplazar con la mediana.

In [77]:
data1['review_scores_checkin'] = data1['review_scores_checkin'].fillna(round(data['review_scores_checkin'].median(),1))
# Identificar valores nulos por columna
valores_nulos = data1.isnull().sum()
columnas_con_nulos = valores_nulos[valores_nulos > 0]
print(columnas_con_nulos)

review_scores_communication    365
review_scores_location         365
license                        303
reviews_per_month              365
dtype: int64

**Ahora sustituiremos los valores de review_scores_communication nulos**<br>
Para esto usaremos la variable review_scores_communication. Decidi reemplazar con la mediana.

In [78]:
data1['review_scores_communication'] = data1['review_scores_communication'].fillna(round(data['review_scores_communication'].median(),1))
# Identificar valores nulos por columna
valores_nulos = data1.isnull().sum()
columnas_con_nulos = valores_nulos[valores_nulos > 0]
print(columnas_con_nulos)

review_scores_location    365
license                   303
reviews_per_month         365
dtype: int64

**Ahora sustituiremos los valores de review_scores_location nulos**<br>
Para esto usaremos la variable review_scores_location. Decidi reemplazar con la mediana.

In [79]:
data1['review_scores_location'] = data1['review_scores_location'].fillna(round(data['review_scores_location'].median(),1))
# Identificar valores nulos por columna
valores_nulos = data1.isnull().sum()
columnas_con_nulos = valores_nulos[valores_nulos > 0]
print(columnas_con_nulos)

license              303
reviews_per_month    365
dtype: int64

**Ahora sustituiremos los valores de license nulos**<br>
Para esto usaremos la variable license. Aqui los campos son de tipo string, en caso de que cuente con licencia <br>
tiene el folio/ número de licencia, en caso contrario cuenta con una descripción de por que no cuenta con la licencia. Para <br>
este caso decidi llenar los nulos con "No cuenta con licencia".

In [80]:
#Sustituir valores nulos por un string en concreto
data1['license'] = data1['license'].fillna('No cuenta con licencia')
# Identificar valores nulos por columna
valores_nulos = data1.isnull().sum()
columnas_con_nulos = valores_nulos[valores_nulos > 0]
print(columnas_con_nulos)

reviews_per_month    365
dtype: int64

**Ahora sustituiremos los valores de reviews_per_month**<br>
Para esto usaremos la variable reviews_per_month. Para este caso decidi usar la mediana

In [81]:
data1['reviews_per_month'] = data1['reviews_per_month'].fillna(round(data['reviews_per_month'].median(),1))
# Identificar valores nulos por columna
valores_nulos = data1.isnull().sum()
columnas_con_nulos = valores_nulos[valores_nulos > 0]
print(columnas_con_nulos)

Series([], dtype: int64)

**finalmente verificamos que no contemos con campos nulos o vacios y crearemos el csv final ya listo para la siguiente etapa**

In [82]:
#Identificar valores nulos por data frame
valores_nulos = data1.isnull().sum().sum()
valores_nulos
data1.to_csv('Tasmania_sin_nulos.csv')

In [83]:
#cargar archivo csv
dataNew = pd.read_csv('Tasmania_sin_nulos.csv')
valores_nulos = dataNew.isnull().sum()
columnas_con_nulos = valores_nulos[valores_nulos > 0]
print(columnas_con_nulos)

Series([], dtype: int64)